.py[cod]
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python

*.egg-info/
*.egg
dist/
build/
.eggs/
*.whl
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.swp
*.log
*.coverage
.coverage.*
*.hypothesis/
.coverage.*
*.pytest_cache/

.ugit/
